{% extends 'app.html.twig' %}
{% block stylesheets %}
<style>
img{
    height: 40px; 
    width: 40px;
    position: relative;
}
</style>
{% endblock %}

{% block body %}

<div class="m-4">
{% if rows|length < 10 %}
<a href="{{ path('store')}}"  class="nav-link ntn btn-primary ">Nouveau enregistrement</a>
{% else %}
<a href="{{ path('store')}}"  class="nav-link ntn btn-primary disabled"> Nouveau enregistrement</a>
{% endif %}

<table class="table table-primary">
    <thead>
    <tr>
        <th>Icone</th>
        <th>Libelle</th>
        <th>Description</th>
        <th>Statut</th>
        <th>Ordre</th>
        <th>Lien</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        {% for row in rows %}

    <tr>
        <td>
                <img src="{{asset('images/')}}{{row.icone}} " class="img-fluid" alt="{{ row.icone }}">
        </td>
        <td>{{ row.libelle }}</td>
        <td>{{ row.description }}</td>
        {% if (row.statut ==1) %}
        <td>Oui</td>
        {% else %}
        <td>Non</td>
        {% endif %}
        <td>{{ row.orders }}</td>
        <td>{{ row.lien }}</td>
         <td>
        <a href="/reassurance/edit/{{row.id}}" class="btn btn-success">Modifier</a>
        <a href="/reassurance/delete/{{row.id}}" onclick="return confirm('Etes-vous sûr de supprimer cet article?');" class="btn btn-danger">Supprimer</a>

        </td>
    </tr>
        {% endfor %}

    </tbody>
</table>
</div>
{% endblock %}